html {
  background-color: #F5F5F5;
}

.App {
  width: 80%;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  text-align: center;
}

.App-title {
  font-size: 3em;
  font-family: 'Fredoka One', cursive;
  color: #3b656b;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-links li {
  display: inline;
  padding: 0 10px 0 10px;
}

.nav-links li a, .nav-links li a:visited {
  color: 	#4d8596;
  text-decoration: none;
  padding: 4px 6px 4px 6px;
}

.nav-links li a:hover {
  color: #FFF;
  border-radius: 5px;
  background-color: 	#4d8596;
}

.nav-links button {
  color: #FFF;
  padding: 4px 6px 4px 6px;
  border-radius: 5px;
  background-color: 	#4d8596;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 5px;
}

.form-wrapper form button {
  width: 30%;
  border-radius: 5px;
  box-shadow: none;
  color: black;
  background-color: #63f853;
}

.form-wrapper form .actions {
  margin-top: 10px;
  margin-left: auto;
  width: 100%;
  display: flex;
}

.form-wrapper form input {
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: none;
}

.form-wrapper form div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 12px;
}

.patient-cards, .doctor-cards {
  text-align: left;
  padding: 5px;
  width: 64%;
  margin: 20px auto 20px auto;
}

.appointment-cards {
  text-align: left;
  padding: 5px;
  width: 40%;
  margin: 20px auto 20px auto;
}

.patient-cards p, .doctor-cards p {
  padding: 0.2em;
}

.patient-cards {
  border-left: 6px solid blue;
  background-color: lightblue;
}

.doctor-cards {
  border-left: 6px solid #4d8596;
  background-color: #c3e7db;
}

.doctor-cards h3 {
  font-size: 1.5em;
}

.appointment-cards {
  margin-left: 10%;
  margin-right: auto;
  border-left: 6px solid green;
  background-color: lightgreen
}

.appointment-calendar {
  float: right;
  margin-left: auto;
  margin-right: 10%;
}

.title-text {
  font-weight: bold;
  font-size: 1.5em;
}

.doctor-card h3, .doctor-card p {
  padding-left: 10px;
}

.doctor-card i {
  padding-right: 10px;
}
