.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-links li {
  display: inline;
  padding: 0 10px 0 10px;
}

.nav-links li a, .nav-links li a:visited {
  color: #63f853;
  text-decoration: none;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.form-wrapper form button {
  width: 30%;
  border-radius: 5px;
  box-shadow: none;
}

.form-wrapper form .actions {
  margin-top: 10px;
  margin-left: auto;
  width: 100%;
  display: flex;
}

.form-wrapper form input {
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: none;
}

.patient-cards {
  text-align: left;
  padding: 5px 5px 0px 5px;
  border-left: 6px solid blue;
  background-color: lightblue;
  width: 40%;
  margin: 20px auto 20px auto;
}

.doctor-cards {
  text-align: left;
  padding: 5px;
  border-left: 6px solid red;
  background-color: pink;
  width: 40%;
  margin: 20px auto 20px auto;
}

.appointment-cards {
  margin-left: 10%;
  margin-right: auto;
}

.appointment-cards .calendar {
  float: right;
  margin-left: auto;
  margin-right: 10%;
}

.title-text {
  font-weight: bold;
  font-size: 1.5em;
}
